/*reglas
selectores
declaraciones
propiedades
valores */

/* Todo lo siguiente es una regla*/

/*header /* Selector */
{  /* esta expresion en las llaves es una declaracion*/
  /*background-color: pink; */ /* La primera parte es una propiedad, 
  y la segunda un valor */
}

/* Selectores de etiqueta, descendiente, de clase y de ID */

body 
{
  font-family: "Source Sans Pro", sans-serif;
}

h1, h2, h3, h4, h5, h6 /*separados por coma entonces las mismas caracteristicas*/
{
  font-family: 'Fjalla One', sans-serif;
  font-weight: 400;
}

h1
{
  font-size: 40px;
  color: white; 
  line-height: 150%;
  letter-spacing: -.2px;
  /* margin: top right bottom left */
  margin: 100px 500px 70px 30px
}

h1 strong
{
  color: #026fff;
} 

.hero
{
  height: 300px;
  background-color: #1b2127;
  background-image: url(../imagenes/hero.jpg);
  background-size: 500px 300px;
  background-repeat: no-repeat;
  background-position-x: right;
}

.proyect
{
  font-weight: normal;
  /* border-right: 10px solid green;
  border-top: 10px solid red;
  border-left: 10px solid orange;
  border-bottom: 10px solid pink; */
  /* border-color: blue;
  border width: 15px;
  border-style: solid; */
  border: 1px solid gray;
  border-radius: 10px;
}

.proyect_details
{
  width: 500px;
  height: 200PX;
}

.proyect.imageContainer
{
  width: 500px;
}

.header
{
  color: white;
  background-color: #1b2127;
}

.header a 
{
  color: white;
  text-decoration: none;
}